.Warna {
    color: black;
    text-align: center;
}
.Miring {
    font-style: italic
}

body{
    background: url("background1.jpg") no-repeat left top fixed;
    text-align: center;
}
a:link{
    color:yellow;
    font-style: oblique;
}
a:hover{
    color: palevioletred;
}
a:active{
    color:green;
}
